{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href={% static 'css/index.css' %}>
    <title>
     {% block title %}
         Shop engine
     {% endblock %}
    </title>

</head>
<body>
   <header id="logo">
       <h1> Gun shop </h1>
       <img src="../../../../../../static/images/ak47_small2.png" alt="" id="ak_47_2">

       <div id="info">
            <h4>Info</h4>
            <p> Email: azaza7087@gmail.com</p>
            <p> Phone number: +77025160919</p>
       </div>

   </header>

   <div id="navbar">
        <nav>
            <a href="{% url 'main' %}">Main</a>
            <a href={% if request.user.is_authenticated %}"{% url 'user_cart_url' login=request.user %}"{% else %}{% endif %}>Buy</a>
            <a href={% if request.user.is_authenticated %}"{% url 'user_detail_url' login=request.user %}"{% else %}{% endif %}> Account</a>
            <a href="">News</a>
        </nav>
   </div>

    <aside id="navigation">
        <div id="control_of_nav">
         <p><a href={% url 'gun_list_url' name="knifes" %}>Knifes</a></p>
         <p><a href={% url 'gun_list_url' name="shotguns" %}>Shotguns</a></p>
         <p><a href={% url 'gun_list_url' name="assault-rifles" %}>Assault rifles</a></p>
         <p><a href={% url 'gun_list_url' name="pistols" %}>Pistols</a></p>
        </div>
    </aside>

<div class="container mt-3">
    <div class="row">
        <div class="col-6 offset-md-1"  >
             {% block content %}
                There is no content
             {% endblock %}
        </div>
    </div>
</div>


{% block location %}
    <div id="location">
        <h5>You can find us:</h5>
        <img src="../../../../../../static/images/location.jpg" alt="sda" width="300">
        <p><em>Address: Kazakhstan, Almaty, st.Pushkin, h.Kolotushin </em></p>
    </div>
{% endblock %}


   <div class="log-panel align-items-center">

       {% block log-panel %}

       {% endblock %}
   </div>

<footer>
   <p> © 2020 Azamat's Gun Shop. All Rights Reserved. </p>
              <p>Almaty, Kazakhstan </p>
</footer>

</body>
</html>