{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div id="log_out">
        <h1>{% trans "Log Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
            <img id="door" src="../../static/images/door.png" alt="12">
          <button id="log_out_btn" type="submit" class="btn btn-danger">{% trans 'Log Out' %}</button>
        </form>
    </div>

{% endblock %}
