{% extends 'shop/base_shop.html' %}
{% block title %}
    Buy
{% endblock %}

{% block location %}
{% endblock %}

{% block content %}
    {% for gun in guns %}
        <div class="card text-black bg-secondary mb-3" style="max-width: 400px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../../../{{ gun.image }}" class="card-img m-1" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">

                    <p class="card-text">{{ gun.name}}</p>
                    <p class="card-text"><small class="">{{ gun.date_of_add }}</small></p>
                    </div>
                </div>
               <a href="{% url 'gun_delete_url' login=request.user gun=gun.gun_slug %}"> <img id="minus"src="../../../../static/images/minus.png" alt="sdsd"></a>
            </div>
        </div>


        <div id="wallet">
            <h1>Your cash:</h1>
            <img id="wallet_img" src="../../../../static/images/wallet.png" alt="dsds">
            <p id="cash">{{ cash }} $</p>
        </div>
    {% endfor %}
{% endblock %}
