{% extends 'shop/base_shop.html' %}

{% block title %}
   {{ gun.name }}
{% endblock %}

{% block location %}
{% endblock %}
{% block content %}

{% include 'includes/gun_card_template.html' %}
    {% if request.user.is_authenticated %}
        {% if already %}
            <a href="{% url 'gun_buy_url' name=name slug=gun.slug %}">
                <div id="buy_gun">
                    <img src="../../../static/images/buy.png" alt="dsds" width="150px">
                    <h4> Add to cart</h4>
                </div>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
