{% extends 'shop/base_shop.html' %}

{% block title %}
   {{ gun.name }}
{% endblock %}

{% block location %}
{% endblock %}
{% block content %}

{% include 'includes/gun_card_template.html' %}
    {% if request.user.is_authenticated %}
        {% if already %}
            <a href="{% url 'gun_buy_url' name=name slug=gun.slug %}">
                <div id="buy_gun">
                    <img src="../../../static/images/buy.png" alt="dsds" width="150px">
                    <h4> Add to cart</h4>
                </div>
            </a>
            <div id="price">
                 <img id="price_img" src="../../../static/images/price.png" alt="">
                <h4>Price:</h4>
                <p>{{ gun.price }}$</p>

            </div>
        {% endif %}
    {% endif %}

    {% if comments %}
        <div id="comments">
            <a href=""><img src="../../../static/images/add.png" id="comment_add" alt=""></a>
            <h1>Comments</h1>

            {% for comment in comments %}
                <div id="comment">
                    <div id="comment_right">
                        <img src="../../../{{ comment.user_img }}" alt="" id="user_img_comment">
                        <h5>{{ comment.user }}</h5>
                    </div>

                    <div id="comment_body">
                        <p>{{ comment.body|safe }}</p>
                    </div>

                    <div id="comment_date">
                        <p>{{ comment.date_of_add }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
