{% extends 'shop/base_shop.html' %}

{% block title %}
    Guns list
{% endblock %}

{% block content %}

    {% for gun in page_object.object_list %}

            <div class="card mb-3 ml-100" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="scale"> <img src="../../{{ gun.image }}" class="card-img mt-5 " alt="..." > </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href={% url 'gun_detail_url' name=name slug=gun.slug  %} > <h5 class="card-title">{{ gun.name }}</h5> </a>
                            <p class="card-text">{{ gun.body|truncatewords:15 }}</p>
                            <p class="card-text"><small class="text-muted">{{ gun.date_pub}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}

{% if is_paginated %}


                <nav aria-label="..." >
                    <ul class="pagination justify-content-center">
                    <li class="page-item {% if not prev_url %} disabled {%endif%}">
                        <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                        {% for n in page_object.paginator.page_range  %}
                            {% if page_object.number == n  %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
                                </li>
                             {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}




                     <li class="page-item {% if not next_url %} disabled {%endif%}">
                        <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">Next</a>
                    </li>

                    </ul>
                </nav>
        {% endif %}

   
{% endblock %}