{% extends 'shop/base_shop.html' %}

{% block title %}
  Purchase
{% endblock %}

{% block content %}
    <div id="purchase">
    <h1>Thank you for your purchase</h1>

        {% for gun in page_object.object_list %}
             <div class="view view-first">


                    <img src="../../../../../{{ gun.image }}" id="card-img" alt="...">
                    <div class="mask">
                        <h2>{{ gun.gun_slug }}</h2>
                        <p>{{ gun.date_of_add }}</p>

                    </div>

             </div>
        {% endfor %}
    </div>


{% if is_paginated %}


                <nav aria-label="..." >
                    <ul class="pagination justify-content-center">
                    <li class="page-item {% if not prev_url %} disabled {%endif%}">
                        <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                        {% for n in page_object.paginator.page_range  %}
                            {% if page_object.number == n  %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
                                </li>
                             {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}




                     <li class="page-item {% if not next_url %} disabled {%endif%}">
                        <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">Next</a>
                    </li>

                    </ul>
                </nav>
        {% endif %}

{% endblock %}