{% extends 'shop/base_shop.html' %}

{% block title %}
    User {{ request.user }}
{% endblock %}

{% block content %}
    <div id="user_info">
        <h1> Welcome,{{ request.user }}! </h1>
        <img id="user_img" src="../../../{{ user.image }}" alt="asdsa">
        <img id="wall_of_user" src="../../../static/images/wall_of_user.jpg" alt="">
        <img id="list_blocknote" src="../../../static/images/list-is-bloknota.jpg" alt="dsada" width="500px">
        <div id="user_info_small">
          <p>Information:</p>
            <div id="Small_info">
                <p> Name: {{ user.name }}</p>
                <p> Sex: {{ user.sex }}</p>
                <p> Date of Birth: {{ user.date_of_birth }}</p>
                <p> About me: <block-quote> {{ user.body }}</block-quote></p>
                <p> Cash: {{ user.cash }} $</p>
            </div>
        </div>
    </div>
{% endblock %}
