{% extends 'shop/base_shop.html' %}

{% block title %}
    Buy
{% endblock %}

{% block content %}
    <div id="final_buy">
        <h1>Are you sure you want buy this?</h1>
        {% for gun in guns %}
            <div class="card mb-3">
                <img src="../../../../../{{ gun.image }}" class="card-img-top" alt="..." width="100px"  >
                <div class="card-body">
                    <h3 class="card-title">{{ gun.name }}</h3>

                    <p class="card-text">

                            {% for gun1 in gun_all %}
                                {% if gun1.slug == gun.gun_slug %}
                                    {{ gun1.price }}$
                                {% endif %}
                            {% endfor %}

                    </p>
                </div>
            </div>
        {% endfor %}
    </div>



      <div id="check">
        <h3>Your cash: </h3>
            <p> {{ user.cash }}$</p>
        ---
        <h3>Total sum:</h3>
            <p> {{ total }}$</p>
        ------------------------
        <h3>After buy:</h3>
        {% if cash_after > 0 %}
            <p> {{ cash_after }}$</p>
        {% else %}
            <p> You don't have enough money </p>
        {% endif %}
    </div>

    {% if cash_after > 0 %}
        <form action="{% url 'user_buy_url' login=request.user total=total %}" method="post">
         {% csrf_token %}
            <div id="buy_button">
                <button class="btn btn-success" type="submit">Buy</button>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block location %}
{% endblock %}

